<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="/css/styles.css" />
		<title>{{pageTitle}}</title>
	</head>
	<body>
		<header>
			<nav>
				<a href="/">Home</a>
				<a href="/about">About</a>
				<a href="/help">Help</a>
				<a href="/weather">Weather</a>
			</nav>
		</header>